<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OCD"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".JournalEntry.TaskDailyActivity"
            android:exported="false" />
        <activity
            android:name=".JournalEntry.TaskMonthlyActivity"
            android:exported="false" />
        <activity
            android:name=".JournalEntry.TaskDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".JournalEntry.ObservationSubmittedActivity"
            android:exported="false" />
        <activity
            android:name=".JournalEntry.JournalEntryFrequencyActivity"
            android:exported="false" />
        <activity
            android:name=".JournalEntry.JournalEntryCompulsionActivity"
            android:exported="false" />
        <activity
            android:name=".JournalEntry.JournalEntryObsessionActivity"
            android:exported="false" />
        <activity
            android:name=".profile.AppGuideActivity"
            android:exported="false" />
        <activity
            android:name=".profile.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ChangeLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".profile.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ResourcesActivity"
            android:exported="false" />
        <activity
            android:name=".TaskWeeklyActivity"
            android:exported="false" />
        <activity
            android:name=".profile.AppShortcutActivity"
            android:exported="false" />
        <activity
            android:name=".profile.PreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".profile.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".registraion.TermAndConditionActivity"
            android:exported="false" />
        <activity
            android:name=".registraion.VerifyOTPActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".registraion.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>